#drum-pad-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: auto auto auto; 
  column-gap: 10px;
  row-gap: 15px;
  height: fit-content;
}

.drum-pad {
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: rgb(255, 94, 0);
}

.drum-pad:hover {
  background-color: rgb(19, 19, 19);
}

.drum-pad:active {
  background-color: rgb(12, 12, 12);
}

.disable-pads, .disable-pads:active, .disable-pads:hover {
  background-color: rgb(40, 40, 40);
  color: rgb(78, 78, 78);
}


