#display {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 273px;
}

.display-p {
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 18px;
}



