#display {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 273px;
}

.display-p {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

.fas {
  font-size: 20px;
  color: rgb(255, 94, 0);
  margin: 7px 0 7px 0;
}

.button-div {
  display:flex;
  justify-content: center;
  align-items: center;
}

.volume-button {
  margin: 0 3px 0 3px;
  width: 40px;
  background-color: rgb(27, 27, 27);
  border: none;
  border-radius: 3px;
}

